body{
    background:white;
    background-image:url("/img/bg6.jpg");
    /*This image, which was originally posted to Flickr.com, was uploaded to Commons using Flickr upload bot on 05:32, 7 April 2011 (UTC) by Moray An Par*/
    background-size: 100%;
    background-attachment:fixed;
    font-family:Calibri;
}

#homepage-container{
    position:absolute;
    width:100%;
    margin:0 auto;
    right:0;
    left:0;
    top:0;
    bottom:0;
}

#index-header{
    font-family:Gulim;
    font-size:13px;
    width:100%;
    height:80px;
}

#hr{
    background:#30c0ef;
    width: 100%;
    height:5px;
    float:left;
}

#index-header img{
    margin:28px 0px 0px 30px;
}

#index-header form{
    color:white;
    float:left;
    background: #4ca5dd;
    height:100%;
    width:34%;
    padding-left: 1%;

}

#index-header form > div{
    float:left;
    margin-top:18px;
    width:40%;
}

#index-header button{
    margin-top:30px;
}

#index-header form > div > input{
    width:90%;
    border:1px solid black;
    height:18px;
}

#logo-container{
    background-color:#145d72;
    width: 65%;
    height:100%;
    float:left;
}
#index-content{
    margin-top:45px;
    width: 100%;
}


#index-content .article-header{
    position:absolute;
    background:#145d72;
    width: 60%;
    height:80px;
    float:left;
    margin-bottom:15px;


}
#article-container{
    width:60%;
    float:left;
}

#index-content .article-header > div{
    width:65%;
    margin:0 auto;
    padding: 8px;
}

#index-content .article-header > div > img{
    width:100%;
    max-heght:100%;
}

#index-content .article-body{
    color:white;
    position:absolute;
    margin-top:10%;
    width:56%;
    background:#145d72;
    padding:2%;
    font:justify;
    text-align: justify;
    float:left;
    clear:left;
}

#index-content p{
    font-size:12px;
    font-family:'Lucida Grande', Tahoma, Verdana, Arial, sans-serif;;
    margin-bottom:20px;
}

#register-container{
    float:right;
    width:30%;
    padding-right:3%;
    padding-top:3%;
    padding-bottom:3%;
    padding-left:3%;
    background:rgba(255,224,133,0.7);
    font-family:Tahoma;
}

#register-container h4{
    font-size:12px;
    margin-bottom:8%;
}

#register-container input{
    margin-left:10%;
}


#footer{
    position:fixed;
    bottom:0px;
    width:100%;
    height:20px;
    background:#dcd9d2;
    float:left;

    clear:left;
    clear:right;
    margin:0 auto;
    z-index:100;

    font-family:Arial;
    text-align:center;
}


/*------------------------------- Button ----------------------------------*/
.submit-button{
    color:white;
    background:#145d72;
}
/*-------------------------------------------------------------------------*/

/*--------------------------------Header-----------------------------------*/
#header{
    position:fixed;
    width:100%;
    height:50px;
    background:#145d72;
    z-index:100;
}

#user-name{
    float:left;
    color:white;
    font-family:Gulim;
    font-size:14px;
    font-weight:bold;
    margin-top:16px;
}

#user-options-container{

    position:relative;
    width:35px;
    height:40px;
    padding:5px;
    margin-top:0px;
    border-left:1px #31c3f3 solid;
    border-right:1px #31c3f3 solid;
}

#option-trigger, #user-options{
    padding:0;
    height:100%;
}

#user-options-container{
    background-image: url("/img/menu-arrow.png");
    background-repeat: no-repeat;
    background-position:center;
}

#user-options-container:hover{
    background:#4ca5dd;
    background-image: url("/img/menu-arrow-hover.png");
    background-repeat: no-repeat;
    background-position:center;
}
#menu{
    font-family:Tahoma;
    color:white;
    background:#145d72;
    padding:5px;
}

#menu a{
    color:white;
    text-decoration: none;
}

#menu li {
    list-style-type: none;
    padding:5px;

}
#menu li:hover{
    background:#31c3f3;
    list-style-type: none;

}

#header > #logo-container >img{
    margin:13px 0px 0px 170px;
}

/*-------------------------------------------------------------------------*/

#logged{
    position:absolute;
    width:100%;
    bottom:0;
    top:50px;
    z-index:20;
}


/*--------------------------- Department Head -----------------------------*/
table tr{
    background:rgba(255,224,133,0.7);
}
table th{
    text-align: left;
    background:white;
}
table .selected{
    color:white;
    background:#c1955d;
}

#depthead_search_bar{
    position:relative;
    width:50%;
    margin-left:10%;
    height: 5%;
    background: #ffae25;
    border-radius-bottomleft:5px;
    border-radius:0 0 5px 5px;

}

#depthead_search_bar form{
    margin-left:10%;
    position:absolute;
    z-index:100;
}
#left_nav{
    padding-left:1%;
    position:absolute;
    width:40%;
    bottom:0;
    top:0px;
    float:left;
/*    background:#9ccbdf;
*/}

#right_nav{
    position:absolute;
    bottom:0;
    top:0px;
    left:41%;
    width:58.5%;
    float:left;
 /*   background:#79c0df;
 */   border-left: 1px black solid;
}

#gradesheets_container_header, #gradesheets_container_approved_header, #gradesheets_container_disapproved_header{
    position:absolute;
    background:rgba(23,93,114,1);
    height:29.5%;
    width:8%;
    margin-left:1%;
    margin-top:1%;
    color: white;
    text-align: center;
    border-radius:5px;


}

.bg{
    position:absolute;
    width:100%;
    height:100%;
    background:
        -webkit-gradient(
            linear,
            left top, left bottom,
            from(rgba(255,255,255,0.1)),
            to(rgba(255,255,255,0.3))
        );
    border-radius:5px;
    z-index:1;
}

#gradesheets_container_header img, #gradesheets_container_approved_header img, #gradesheets_container_disapproved_header img{
    margin-top:35%;
}

#gradesheets_container, #gradesheets_container_approved, #gradesheets_container_disapproved{
    width:80%;
    height:27%;
    margin-left:10%;
    margin-top:1%;
    background:rgba(255,224,133,0.7);
    overflow: hidden;
    padding: 1.5%;
    border-radius:5px;
}

.slimscroll{
    height:100%;
}
#left_nav table{
    width:100%;
}

#left_nav table th{
    width:33.3%;
}

#left_nav table tr{
    border-bottom:1px solid black;
}



#right_nav #grades_container{
    position: absolute;
    width: 70%;
    height:80%;
    background:rgba(255,224,133,0.7);
    margin-left:10%;
    margin-top:1.5%;
    padding:1.5%;
}

#right_nav table{
    padding:5%;
    width: 100%;
}

#right_nav table tr{
    border-bottom:1px black solid;

}

#grades_info{
    background:rgba(255,224,133,0.7);
    width: 40%;
    height:2%;
    padding:1%;
    margin-left:10%;
}

#grades_info *{
    float:left;
}



/*-------------------------------------------------------------------------*/


/*----------------------------------Lecturer-------------------------------*/

#create_gs{
    position: absolute;
    width: 78%;
    height:26.5%;
    background:rgba(255,224,133,0.7);
    margin-left:10%;
    margin-top:1.5%;
    padding:1.5%;
    border-radius:1%;

}

/*-------------------------------------------------------------------------*/

/*---------------------------Student Page----------------------------------*/

#plan-of-study-container{
    width:60%;
    padding:3%;
    margin:0 auto;
}

#inner-div{
    background:rgba(255,255,255,0.5);
    padding-top:4%;
    padding-bottom:4%;
}
#inner-div table {
    margin:0 auto;
    width:90%;
    height:50%;
    margin-bottom: 5%;
    background:rgba(250,200,50,0.7);
    border-top:1px solid black;
}

#inner-div table tr, #inner-div table table{
    background:rgba(0,0,0,0);
}

#student_pos_header img{
    margin-top:30%;
}
#student_pos_header{
    position:fixed;
    background:rgba(23,93,114,1);
    height:29.5%;
    width:4%;
    margin-left:-5%;
    margin-top:1%;
    color: white;
    text-align: center;
    border-radius:5px;


}

/*-------------------------------------------------------------------------*/



.container4 {
    margin: 20px 30px 10px 30px ;
    padding: 4px;
    display: inline-block;
}

.menu4 {
    position: absolute;
    width: 100px !important;
    margin-top: 3px !important;
    z-index:100;
}
